@model IEnumerable<Friends.Models.Comment>

@{
    ViewData["Title"] = "Index";

    var postID = Url.ActionContext.RouteData.Values["postID"];
}

<h1>Comments</h1>

<p>
    <a asp-action="Create" asp-route-postID="@postID">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfCreationDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonUsername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfCreationDate)
                </td>
            </tr>
        }
    </tbody>
</table>