@model IEnumerable<Friends.Models.Message>

@{
    ViewData["Title"] = "Index";

    var reciever = Url.ActionContext.RouteData.Values["username"];
}

<h1>Messages</h1>

<p>
    <a asp-action="Create" asp-route-username="@reciever">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SenderUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecieverUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfSendingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderUsername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecieverUsername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfSendingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
            </tr>
        }
    </tbody>
</table>